<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.ar.account.mapper.AccountMapper">

    <select id="getAccountInfoByAccount" parameterType="String" resultType="AccountPojo">
        SELECT *
        FROM accounts
        WHERE account = #{account}
          AND status = '1'
    </select>

    <select id="queryPermissionInfoList" parameterType="LinkedHashMap" resultType="HashMap">
        SELECT * FROM accounts t, role_permission t2
        LEFT JOIN role_permission_details t3 on t2.roleId = t3.roleId
        WHERE t.roleId = t2.roleId AND t.status = t2.status AND t.status = '1'
        <if test="account !=null and account !=''">
            AND t.account = #{account}
        </if>
    </select>

    <select id="queryAccountInfoList" parameterType="LinkedHashMap" resultType="HashMap">
        SELECT * FROM accounts
        <where>
            <if test="account !=null and account !=''">
                AND account = #{account}
            </if>
            <if test="phone !=null and phone !=''">
                AND phone = #{phone}
            </if>
            <if test="status !=null and status !=''">
                AND status = #{status}
            </if>
        </where>
    </select>

    <insert id="addAccountInfo" parameterType="AccountPojo">
        INSERT INTO accounts (account, password, email, phone, roleid, status)
        VALUES (#{account}, #{password}, #{email}, #{phone}, #{roleId}, '1')
    </insert>

    <update id="updAccountInfoByAccount" parameterType="AccountPojo">
        UPDATE accounts
        <set>
            <if test="password !=null and password !=''">
                password = #{password},
            </if>
            <if test="phone !=null and phone !=''">
                phone = #{phone},
            </if>
            <if test="email !=null and email !=''">
                email = #{email},
            </if>
            <if test="roleId !=null and roleId !=''">
                roleId = #{roleId},
            </if>
            <if test="status !=null and status !=''">
                status = #{status},
            </if>
            updatetime = CURRENT_TIMESTAMP
        </set>
        WHERE account = #{account}
    </update>

    <delete id="delAccountInfoByAccount" parameterType="AccountPojo">
        DELETE
        FROM accounts
        WHERE account =
              #{account}
    </delete>

</mapper>