<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.ar.business.mapper.SelectDataMapper">

    <select id="queryMultipleReturnOrdersList" parameterType="LinkedHashMap" resultType="HashMap">
        SELECT * FROM multiple_return_orders T LEFT JOIN estimated_monthly_sales_volume T2 ON T.id = T2.id
        <where>
            <if test="platformId !=null and platformId !=''">
                AND platformId = #{platformId}
            </if>
            <if test="productType !=null and productType !=''">
                AND productType = #{productType}
            </if>
            <if test="product !=null and product !=''">
                AND product = #{product}
            </if>
            <if test="isCut_multi !=null and isCut_multi.size() > 0">
                AND isCut IN
                <foreach collection="isCut_multi" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="salesTrend_multi !=null and salesTrend_multi.size() > 0">
                AND salesTrend IN
                <foreach collection="salesTrend_multi" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="queryEstimatedMonthlySalesVolumeList" parameterType="LinkedHashMap" resultType="HashMap">
        SELECT * FROM  estimated_monthly_sales_volume
        <where>
            <if test="id !=null and id !=''">
                AND id = #{id}
            </if>
        </where>
    </select>

    <select id="queryFirstReturnOrderList" parameterType="LinkedHashMap" resultType="HashMap">
        SELECT * FROM first_return_order
        <where>
            <if test="platformId !=null and platformId !=''">
                AND platformId = #{platformId}
            </if>
            <if test="productType !=null and productType !=''">
                AND productType = #{productType}
            </if>
            <if test="product !=null and product !=''">
                AND product = #{product}
            </if>
        </where>
    </select>

    <select id="queryProportionOfShipmentsList" parameterType="LinkedHashMap" resultType="HashMap">
        SELECT * FROM proportion_of_shipments
        <where>
            <if test="productType !=null and productType !=''">
                AND productType = #{productType}
            </if>
            <if test="product !=null and product !=''">
                AND product = #{product}
            </if>
            <if test="isFirstOrder_multi !=null and isFirstOrder_multi.size() > 0">
                AND isFirstOrder IN
                <foreach collection="isFirstOrder_multi" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="isCut_multi !=null and isCut_multi.size() > 0">
                AND isCut IN
                <foreach collection="isCut_multi" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="queryOrderBatchList" parameterType="LinkedHashMap" resultType="HashMap">
        SELECT * FROM order_batch
        <where>
            <if test="orderBatch !=null and orderBatch !=''">
                AND orderBatch = #{orderBatch}
            </if>
            <if test="approvalStatus !=null and approvalStatus !=''">
                AND approvalStatus = #{approvalStatus}
            </if>
        </where>
    </select>

    <select id="queryBatchMultipleReturnOrdersList" parameterType="LinkedHashMap" resultType="HashMap">
        SELECT * FROM batch_multiple_return_orders
        <where>
            <if test="productType !=null and productType !=''">
                AND productType = #{productType}
            </if>
            <if test="product !=null and product !=''">
                AND product = #{product}
            </if>
            <if test="isCut_multi !=null and isCut_multi.size() > 0">
                AND isCut IN
                <foreach collection="isCut_multi" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <choose>
                <when test="isPlaceAnOrder != null and isPlaceAnOrder !=''">
                    <choose>
                        <when test="!isPlaceAnOrder.contains('0'.toString()) and isPlaceAnOrder.contains('1'.toString())">

                        </when>
                        <when test="isPlaceAnOrder.contains('0'.toString()) and !isPlaceAnOrder.contains('1'.toString())">

                        </when>
                    </choose>
                </when>
            </choose>
            <if test="approvalResult_multi !=null and approvalResult_multi.size() > 0">
                AND approvalResult IN
                <foreach collection="approvalResult_multi" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="queryBatchFirstReturnOrderList" parameterType="LinkedHashMap" resultType="HashMap">
        SELECT * FROM batch_first_return_order
        <where>
            <if test="productType !=null and productType !=''">
                AND productType = #{productType}
            </if>
            <if test="product !=null and product !=''">
                AND product = #{product}
            </if>
            <if test="approvalResult_multi !=null and approvalResult_multi.size() > 0">
                AND approvalResult IN
                <foreach collection="approvalResult_multi" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="queryOrderApprovalList" parameterType="LinkedHashMap" resultType="HashMap">
        SELECT * FROM order_approval
        <where>
            <if test="orderBatch !=null and orderBatch !=''">
                AND orderBatch = #{orderBatch}
            </if>
            <if test="approvalStatus !=null and approvalStatus !=''">
                AND product = #{product}
            </if>
        </where>
    </select>

    <select id="queryApprovalMultipleReturnOrdersList" parameterType="LinkedHashMap" resultType="HashMap">
        SELECT * FROM approval_multiple_return_orders
        <where>
            <if test="productType !=null and productType !=''">
                AND productType = #{productType}
            </if>
            <if test="product !=null and product !=''">
                AND product = #{product}
            </if>
            <if test="newProductLabel_multi !=null and newProductLabel_multi.size() > 0">
                AND newProductLabel IN
                <foreach collection="newProductLabel_multi" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="isCut_multi !=null and isCut_multi.size() > 0">
                AND isCut IN
                <foreach collection="isCut_multi" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="queryApprovalFirstReturnOrderList" parameterType="LinkedHashMap" resultType="HashMap">
        SELECT * FROM approval_first_return_order
        <where>
            <if test="productType !=null and productType !=''">
                AND productType = #{productType}
            </if>
            <if test="product !=null and product !=''">
                AND product = #{product}
            </if>
        </where>
    </select>

    <select id="queryPurchaseOrderList" parameterType="LinkedHashMap" resultType="HashMap">
        SELECT * FROM purchase_order
        <where>
            <if test="orderStatus_multi !=null and orderStatus_multi.size() > 0">
                AND orderStatus IN
                <foreach collection="orderStatus_multi" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="factoryId !=null and factoryId !=''">
                AND factoryId = #{factoryId}
            </if>
        </where>
    </select>

    <select id="queryQuantityToBeOrderedList" parameterType="LinkedHashMap" resultType="HashMap">
        SELECT * FROM quantity_to_be_ordered
        <where>
            <choose>
                <when test="isProcurementCompleted != null and isProcurementCompleted !=''">
                    <choose>
                        <when test="!isProcurementCompleted.contains('0'.toString()) and isProcurementCompleted.contains('1'.toString())">
                            orderedQuantity >= orderRequired
                        </when>
                        <when test="isProcurementCompleted.contains('0'.toString()) and !isProcurementCompleted.contains('1'.toString())">
                            orderedQuantity &lt; orderRequired
                        </when>
                    </choose>
                </when>
            </choose>
        </where>
    </select>

    <select id="queryUrgentDeliveryBatchList" parameterType="LinkedHashMap" resultType="HashMap">
        SELECT * FROM urgent_delivery_batch
        <where>
            <if test="urgentDeliveryStatus_multi !=null and urgentDeliveryStatus_multi.size() > 0">
                AND urgentDeliveryStatus IN
                <foreach collection="urgentDeliveryStatus_multi" item="item" index="index" open="(" separator=","
                         close=")">
                    #{item}
                </foreach>
            </if>
            <if test="urgentDeliveryBatch !=null and urgentDeliveryBatch !=''">
                AND urgentDeliveryBatch = #{urgentDeliveryBatch}
            </if>
        </where>
    </select>

    <select id="queryUrgeProductionDetailsList" parameterType="LinkedHashMap" resultType="HashMap">
        SELECT * FROM urge_production_details
        <where>
            <if test="salesLevel_multi !=null and salesLevel_multi.size() > 0">
                AND salesLevel IN
                <foreach collection="salesLevel_multi" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="isSecondReturnOrder_multi !=null and isSecondReturnOrder_multi.size() > 0">
                AND isSecondReturnOrder IN
                <foreach collection="isSecondReturnOrder_multi" item="item" index="index" open="(" separator=","
                         close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="queryUrgeShipmentDetailsList" parameterType="LinkedHashMap" resultType="HashMap">
        SELECT * FROM urge_production_details T
        LEFT JOIN urge_shipment_details T2 ON T.urgentDeliveryBatch = T2.urgentDeliveryBatch
        <where>
            <if test="salesLevel_multi !=null and salesLevel_multi.size() > 0">
                AND salesLevel IN
                <foreach collection="salesLevel_multi" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <choose>
                <when test="isOutOfStock != null and isOutOfStock !=''">
                    <choose>
                        <when test="!isOutOfStock.contains('0'.toString()) and isOutOfStock.contains('1'.toString())">
                            AND urgesShipmentUs + urgesShipmentCanada + urgesShipmentCustom > totalFactoryInventory
                        </when>
                        <when test="isOutOfStock.contains('0'.toString()) and !isOutOfStock.contains('1'.toString())">
                            AND urgesShipmentUs + urgesShipmentCanada + urgesShipmentCustom &lt;= totalFactoryInventory
                        </when>
                    </choose>
                </when>
            </choose>
            <if test="isSecondReturnOrder_multi !=null and isSecondReturnOrder_multi.size() > 0">
                AND isSecondReturnOrder IN
                <foreach collection="isSecondReturnOrder_multi" item="item" index="index" open="(" separator=","
                         close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="queryRemindStandardizationList" parameterType="LinkedHashMap" resultType="HashMap">
        SELECT *
        FROM param_remind_standardization
    </select>

    <select id="queryRestockingRulesList" parameterType="LinkedHashMap" resultType="HashMap">
        SELECT *
        FROM param_restocking_rules
    </select>

    <select id="queryLinkCoefficientList" parameterType="LinkedHashMap" resultType="HashMap">
        SELECT *
        FROM param_link_coefficient
    </select>

    <select id="queryWarehouseCoefficientList" parameterType="LinkedHashMap" resultType="HashMap">
        SELECT *
        FROM param_warehouse_coefficient
    </select>

    <select id="querySalesLevelList" parameterType="LinkedHashMap" resultType="HashMap">
        SELECT *
        FROM param_sales_level
    </select>

    <select id="queryShippingGradeList" parameterType="LinkedHashMap" resultType="HashMap">
        SELECT *
        FROM param_shipping_grade
    </select>

    <select id="queryOrderSafetyFactorList" parameterType="LinkedHashMap" resultType="HashMap">
        SELECT *
        FROM param_order_safety_factor
    </select>

    <select id="queryDataSupplementProductList" parameterType="LinkedHashMap" resultType="HashMap">
        SELECT * FROM data_supplement_product
        <where>
            <if test="product !=null and product !=''">
                AND product = #{product}
            </if>
        </where>
    </select>

    <select id="queryDataSupplementFactoryList" parameterType="LinkedHashMap" resultType="HashMap">
        SELECT * FROM data_supplement_factory
        <where>
            <if test="product !=null and product !=''">
                AND product = #{product}
            </if>
        </where>
    </select>

    <select id="queryDataSupplementDeliveryList" parameterType="LinkedHashMap" resultType="HashMap">
        SELECT * FROM data_supplement_delivery
        <where>
            <if test="product !=null and product !=''">
                AND product = #{product}
            </if>
        </where>
    </select>

    <select id="queryTemplateManagementList" parameterType="LinkedHashMap" resultType="HashMap">
        SELECT * FROM template_management
        <where>
            <if test="templateName !=null and templateName !=''">
                AND templateName = #{templateName}
            </if>
        </where>
    </select>

    <select id="queryTemplateDetailsList" parameterType="LinkedHashMap" resultType="HashMap">
        SELECT * FROM template_details
        <where>
            // TODO: 查询待确认
        </where>
    </select>

</mapper>