<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.ar.business.mapper.UpdateDataMapper">

    <insert id="addMultipleReturnOrdersParent" parameterType="LinkedHashMap" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO multiple_return_orders
        (platformId, platformName, productType, product, isCut,
         totalInventory, recentSalesOneMonth, recentSalesTwoMonth, recentSalesThreeMonth, recentSalesFourMonth,
         recentSalesFourteenDays, recentSalesSevenDays, salesTrend, estimatedScope, createdTime)
        VALUES (#{platformId}, #{platformName}, #{productType}, #{product}, #{isCut},
                #{totalInventory}, #{recentSalesOneMonth}, #{recentSalesTwoMonth}, #{recentSalesThreeMonth},
                #{recentSalesFourMonth},
                #{recentSalesFourteenDays}, #{recentSalesSevenDays}, #{salesTrend}, #{estimatedScope},
                CURRENT_TIMESTAMP)
    </insert>

    <insert id="addMultipleReturnOrders" parameterType="LinkedHashMap">
        INSERT INTO estimated_monthly_sales_volume
        (id, futureSalesOneMonth, futureSalesTwoMonth, futureSalesThreeMonth, futureSalesFourMonth,
         futureSalesFiveMonth, futureSalesSixMonth, futureSalesSevenMonth, futureSalesEightMonth)
        VALUES (#{id}, #{futureSalesOneMonth}, #{futureSalesTwoMonth}, #{futureSalesThreeMonth},
                #{futureSalesFourMonth}, #{futureSalesFiveMonth}, #{futureSalesSixMonth}, #{futureSalesSevenMonth},
                #{futureSalesEightMonth})
    </insert>

    <update id="updMultipleReturnOrders" parameterType="LinkedHashMap">
        UPDATE multiple_return_orders SET updateTime = CURRENT_TIMESTAMP
        WHERE id = #{id};

        UPDATE estimated_monthly_sales_volume
        <trim prefix="set" suffixOverrides=",">
            futureSalesOneMonth = #{futureSalesOneMonth},
            futureSalesTwoMonth = #{futureSalesTwoMonth},
            futureSalesThreeMonth = #{futureSalesThreeMonth},
            futureSalesFourMonth = #{futureSalesFourMonth},
            futureSalesFiveMonth = #{futureSalesFiveMonth},
            futureSalesSixMonth = #{futureSalesSixMonth},
            futureSalesSevenMonth = #{futureSalesSevenMonth},
            futureSalesEightMonth = #{futureSalesEightMonth},
        </trim>
        WHERE id = #{id};
    </update>

    <insert id="addFirstReturnOrder" parameterType="FirstReturnOrder">
        INSERT INTO first_return_order
        (platformId, platformName, product, productType, recentSalesOneMonth,
         recentSalesTwoMonth, recentSalesThreeMonth, recentSalesFourMonth, totalInventory, estimatedOrderPlacement,
         remark)
        VALUES (#{platformId}, #{platformName}, #{product}, #{productType}, #{recentSalesOneMonth},
                #{recentSalesTwoMonth}, #{recentSalesThreeMonth}, #{recentSalesFourMonth}, #{totalInventory},
                #{estimatedOrderPlacement},
                #{remark})
    </insert>

    <update id="updFirstReturnOrder" parameterType="LinkedHashMap">
        UPDATE first_return_order
        <set>
            <if test="estimatedOrderPlacement !=null and estimatedOrderPlacement !=''">
                estimatedOrderPlacement = #{estimatedOrderPlacement},
            </if>
            <if test="remark !=null and remark !=''">
                remark = #{remark},
            </if>
            updateTime = CURRENT_TIMESTAMP
        </set>
        WHERE id = #{id}
    </update>

    <insert id="addProportionOfShipments" parameterType="ProportionOfShipments">
        INSERT INTO proportion_of_shipments
        (productType, product, isFirstOrder, isCut, newProductLabel,
         isRiskOfDelisting, wfEstimatedMonthlySales, cgDeliveryRatioSix, cgDeliveryRatioThree, cgDeliveryRatioMaxThree,
         proposalCgDeliveryRatio, operateDeliveryRatio, sysCanadaDeliveryRatio, finalDeliveryRatio,
         cgDeliveryRatioCanadaThree, operateCanadaDeliveryRatio, createdTime)
        VALUES (#{productType}, #{product}, #{isFirstOrder}, #{isCut}, #{newProductLabel},
                #{isRiskOfDelisting}, #{wfEstimatedMonthlySales}, #{cgDeliveryRatioSix}, #{cgDeliveryRatioThree},
                #{cgDeliveryRatioMaxThree},
                #{proposalCgDeliveryRatio}, #{operateDeliveryRatio}, #{sysCanadaDeliveryRatio}, #{finalDeliveryRatio},
                #{cgDeliveryRatioCanadaThree}, #{operateCanadaDeliveryRatio}, CURRENT_TIMESTAMP)
    </insert>

    <update id="updProportionOfShipments" parameterType="LinkedHashMap">
        UPDATE proportion_of_shipments
        <set>
            <if test="operateDeliveryRatio !=null and operateDeliveryRatio !=''">
                operateDeliveryRatio = #{operateDeliveryRatio},
            </if>
            <if test="operateCanadaDeliveryRatio !=null and operateCanadaDeliveryRatio !=''">
                operateCanadaDeliveryRatio = #{operateCanadaDeliveryRatio},
            </if>
            <if test="isRiskOfDelisting !=null and isRiskOfDelisting !=''">
                isRiskOfDelisting = #{isRiskOfDelisting},
            </if>
            updateTime = CURRENT_TIMESTAMP
        </set>
        WHERE id = #{id}
    </update>

    <update id="updOrderBatch" parameterType="LinkedHashMap">
        UPDATE order_batch
        <set>
            <if test="approvalStatus !=null and approvalStatus !=''">
                approvalStatus = #{approvalStatus}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <insert id="addBatchMultipleReturnOrders" parameterType="BatchMultipleReturnOrders">
        INSERT INTO batch_multiple_return_orders
        (orderBatch, productType, product, isCut, newProductLabel,
         totalInventory, monthlyAverageSalesVolume, estimatedMonthlySales, estimateRisk, suggestedEstimatedRange,
         orderSafetyStock, orderSafetyFactor, totalInventoryCoefficient, furtherOrderQuantityRequired,
         minimumOrderQuantity, ladderPrice, wfSuggestedOrderQuantity, hdSuggestedOrderQuantity,
         amzSuggestedOrderQuantity, osSuggestedOrderQuantity, suggestPlacingAnOrder, singleOrderQuantity,
         approvalResult, orderQuantity, createdTime)
        VALUES (#{orderBatch}, #{productType}, #{product}, #{isCut}, #{newProductLabel},
                #{totalInventory}, #{monthlyAverageSalesVolume}, #{estimatedMonthlySales}, #{estimateRisk},
                #{suggestedEstimatedRange},
                #{orderSafetyStock}, #{orderSafetyFactor}, #{totalInventoryCoefficient},
                #{furtherOrderQuantityRequired},
                #{minimumOrderQuantity}, #{ladderPrice}, #{wfSuggestedOrderQuantity}, #{hdSuggestedOrderQuantity},
                #{amzSuggestedOrderQuantity}, #{osSuggestedOrderQuantity}, #{suggestPlacingAnOrder},
                #{singleOrderQuantity},
                #{approvalResult}, #{orderQuantity}, CURRENT_TIMESTAMP)
    </insert>

    <update id="updBatchMultipleReturnOrders" parameterType="LinkedHashMap">
        UPDATE batch_multiple_return_orders
        <set>
            <if test="wfSuggestedOrderQuantity !=null and wfSuggestedOrderQuantity !=''">
                wfSuggestedOrderQuantity = #{wfSuggestedOrderQuantity},
            </if>
            <if test="hdSuggestedOrderQuantity !=null and hdSuggestedOrderQuantity !=''">
                hdSuggestedOrderQuantity = #{hdSuggestedOrderQuantity},
            </if>
            <if test="amzSuggestedOrderQuantity !=null and amzSuggestedOrderQuantity !=''">
                amzSuggestedOrderQuantity = #{amzSuggestedOrderQuantity},
            </if>
            <if test="osSuggestedOrderQuantity !=null and osSuggestedOrderQuantity !=''">
                osSuggestedOrderQuantity = #{osSuggestedOrderQuantity},
            </if>
            <if test="singleOrderQuantity !=null and singleOrderQuantity !=''">
                singleOrderQuantity = #{singleOrderQuantity},
            </if>
            <if test="orderQuantity !=null and orderQuantity !=''">
                orderQuantity = #{orderQuantity},
            </if>
            updateTime = CURRENT_TIMESTAMP
        </set>
        WHERE id = #{id}
    </update>

    <insert id="addBatchFirstReturnOrder" parameterType="BatchFirstReturnOrder">
        INSERT INTO batch_first_return_order
        (orderBatch, productType, product, isKD, newProductLabel,
         recentSalesOneMonth, recentSalesTwoMonth, recentSalesThreeMonth, recentSalesFourMonth, recentSalesFourteenDays,
         recentSalesSevenDays, minimumOrderQuantity, ladderPrice, wfSuggestedOrderQuantity,
         hdSuggestedOrderQuantity, amzSuggestedOrderQuantity, osSuggestedOrderQuantity, suggestPlacingAnOrder,
         singleOrderQuantity, approvalResult, orderQuantity, createdTime)
        VALUES (#{orderBatch}, #{productType}, #{product}, #{isKD}, #{newProductLabel},
                #{recentSalesOneMonth}, #{recentSalesTwoMonth}, #{recentSalesThreeMonth}, #{recentSalesFourMonth},
                #{recentSalesFourteenDays},
                #{recentSalesSevenDays}, #{minimumOrderQuantity}, #{ladderPrice}, #{wfSuggestedOrderQuantity},
                #{hdSuggestedOrderQuantity}, #{amzSuggestedOrderQuantity}, #{osSuggestedOrderQuantity},
                #{suggestPlacingAnOrder},
                #{singleOrderQuantity}, #{approvalResult}, #{orderQuantity}, CURRENT_TIMESTAMP)
    </insert>

    <update id="updBatchFirstReturnOrder" parameterType="LinkedHashMap">
        UPDATE batch_first_return_order
        <set>
            <if test="singleOrderQuantity !=null and singleOrderQuantity !=''">
                singleOrderQuantity = #{singleOrderQuantity},
            </if>
            <if test="orderQuantity !=null and orderQuantity !=''">
                orderQuantity = #{orderQuantity},
            </if>
            updateTime = CURRENT_TIMESTAMP
        </set>
        WHERE id = #{id}
    </update>

    <insert id="addMultipleApproval" parameterType="ApprovalMultipleReturnOrders">
        INSERT INTO approval_multiple_return_orders
        (orderBatch, productType, product, isKD, newProductLabel,
         isCut, profitLevel, salesLevel, totalInventory, monthlyAverageSalesVolume,
         estimatedMonthlySales, estimateRisk, suggestedEstimatedRange, salesTrend,
         orderSafetyStock, orderSafetyFactor, totalInventoryCoefficient, minimumOrderQuantity,
         ladderPrice, wfSuggestedOrderQuantity, hdSuggestedOrderQuantity, amzSuggestedOrderQuantity,
         osSuggestedOrderQuantity, suggestPlacingAnOrder, singleOrderQuantity, approvalResult, orderQuantity,
         createdTime)
        VALUES (#{orderBatch}, #{productType}, #{product}, #{isKD}, #{newProductLabel},
                #{isCut}, #{profitLevel}, #{salesLevel}, #{totalInventory}, #{monthlyAverageSalesVolume},
                #{estimatedMonthlySales}, #{estimateRisk}, #{suggestedEstimatedRange}, #{salesTrend},
                #{orderSafetyStock}, #{orderSafetyFactor}, #{totalInventoryCoefficient}, #{minimumOrderQuantity},
                #{ladderPrice}, #{wfSuggestedOrderQuantity}, #{hdSuggestedOrderQuantity}, #{amzSuggestedOrderQuantity},
                #{osSuggestedOrderQuantity}, #{suggestPlacingAnOrder}, #{singleOrderQuantity}, #{approvalResult},
                #{orderQuantity}, CURRENT_TIMESTAMP)
    </insert>

    <update id="updMultipleApprovalSstatus" parameterType="LinkedHashMap">
        UPDATE approval_multiple_return_orders
        <set>
            <if test="approvalResult !=null and approvalResult !=''">
                approvalResult = #{approvalResult},
            </if>
            updateTime = CURRENT_TIMESTAMP
        </set>
        WHERE id = #{id}
    </update>

    <insert id="addFirstApproval" parameterType="ApprovalFirstReturnOrder">
        INSERT INTO approval_first_return_order
        (orderBatch, productType, product, factoryId, factoryName,
         newProductLabel, totalInventory, lastMonthSalesVolume, recentSalesFourteenDays, recentSalesSevenDays,
         profitLevel, salesLevel, minimumOrderQuantity, ladderPrice,
         wfSuggestedOrderQuantity, hdSuggestedOrderQuantity, amzSuggestedOrderQuantit, osSuggestedOrderQuantity,
         suggestPlacingAnOrder, singleOrderQuantity, orderQuantity, createdTime)
        VALUES (#{orderBatch}, #{productType}, #{product}, #{factoryId}, #{factoryName},
                #{newProductLabel}, #{totalInventory}, #{lastMonthSalesVolume}, #{recentSalesFourteenDays},
                #{recentSalesSevenDays},
                #{profitLevel}, #{salesLevel}, #{minimumOrderQuantity}, #{ladderPrice},
                #{wfSuggestedOrderQuantity}, #{hdSuggestedOrderQuantity}, #{amzSuggestedOrderQuantit},
                #{osSuggestedOrderQuantity},
                #{suggestPlacingAnOrder}, #{singleOrderQuantity}, #{orderQuantity}, CURRENT_TIMESTAMP)
    </insert>

    <update id="updFirstApprovalSstatus" parameterType="LinkedHashMap">
        UPDATE approval_first_return_order
        <set>
            <if test="approvalResult !=null and approvalResult !=''">
                approvalResult = #{approvalResult},
            </if>
            updateTime = CURRENT_TIMESTAMP
        </set>
        WHERE id = #{id}
    </update>

    <insert id="addUrgentDeliveryBatch" parameterType="LinkedHashMap">
        INSERT INTO urgent_delivery_batch (urgentDeliveryBatch, urgentDeliveryStatus, quantity, updateTime)
        VALUES (#{urgentDeliveryBatch}, #{urgentDeliveryStatus}, #{quantity}, CURRENT_TIMESTAMP)
    </insert>

    <update id="updUrgentDeliveryBatch" parameterType="LinkedHashMap">
        UPDATE urgent_delivery_batch
        <set>
            <if test="batchStatus !=null and batchStatus !=''">
                batchStatus = #{batchStatus},
            </if>
            updateTime = CURRENT_TIMESTAMP
        </set>
        WHERE urgentDeliveryBatch = #{urgentDeliveryBatch}
    </update>

    <insert id="addDataSupplementProduct" parameterType="DataSupplementProduct">
        INSERT INTO data_supplement_product (product, wfType, wfSku, amazonAsin, profitLevel, wfListingDate,
                                             hdListingDate,
                                             amzListingDate, osListingDate, createdTime)
        VALUES (#{product}, #{wfType}, #{wfSku}, #{amazonAsin}, #{profitLevel}, #{wfListingDate}, #{hdListingDate},
                #{amzListingDate}, #{osListingDate},
                CURRENT_TIMESTAMP)
    </insert>

    <update id="updDataSupplementProduct" parameterType="LinkedHashMap">
        UPDATE data_supplement_product
        <set>
            <if test="wfType !=null and wfType !=''">
                wfType = #{wfType},
            </if>
            <if test="wfSku !=null and wfSku !=''">
                wfSku = #{wfSku},
            </if>
            <if test="amazonAsin !=null and amazonAsin !=''">
                amazonAsin = #{amazonAsin},
            </if>
            <if test="profitLevel !=null and profitLevel !=''">
                profitLevel = #{profitLevel},
            </if>
            <if test="wfListingDate !=null and wfListingDate !=''">
                wfListingDate = #{wfListingDate},
            </if>
            <if test="hdListingDate !=null and hdListingDate !=''">
                hdListingDate = #{hdListingDate},
            </if>
            <if test="amzListingDate !=null and amzListingDate !=''">
                amzListingDate = #{amzListingDate},
            </if>
            <if test="osListingDate !=null and osListingDate !=''">
                osListingDate = #{osListingDate},
            </if>
            updateTime = CURRENT_TIMESTAMP
        </set>
        WHERE id = #{id}
    </update>

    <insert id="addDataSupplementFactory" parameterType="DataSupplementFactory">
        INSERT INTO data_supplement_factory (product, isKD, factoryId, factoryName, productionDuration,
                                             minimumOrderQuantity,
                                             ladderPrice, createdTime)
        VALUES (#{product}, #{isKD}, #{factoryId}, #{factoryName}, #{productionDuration}, #{minimumOrderQuantity},
                #{ladderPrice},
                CURRENT_TIMESTAMP)
    </insert>

    <update id="updDataSupplementFactory" parameterType="LinkedHashMap">
        UPDATE data_supplement_factory
        <set>
            <if test="isKD !=null and isKD !=''">
                isKD = #{isKD},
            </if>
            <if test="factoryId !=null and factoryId !=''">
                factoryId = #{factoryId},
            </if>
            <if test="factoryName !=null and factoryName !=''">
                factoryName = #{factoryName},
            </if>
            <if test="productionDuration !=null and productionDuration !=''">
                productionDuration = #{productionDuration},
            </if>
            <if test="minimumOrderQuantity !=null and minimumOrderQuantity !=''">
                minimumOrderQuantity = #{minimumOrderQuantity},
            </if>
            <if test="ladderPrice !=null and ladderPrice !=''">
                ladderPrice = #{ladderPrice},
            </if>
            updateTime = CURRENT_TIMESTAMP
        </set>
        WHERE id = #{id}
    </update>

    <insert id="addDataSupplementDelivery" parameterType="DataSupplementDelivery">
        INSERT INTO data_supplement_factory (product, cgDeliveryRatioSix, cgDeliveryRatioThree, cgDeliveryRatioMaxThree,
                                             cgDeliveryRatioCanadaThree,
                                             wfRiskMarker,
                                             proposalCgDeliveryRatio, createdTime)
        VALUES (#{product}, #{cgDeliveryRatioSix}, #{cgDeliveryRatioThree}, #{cgDeliveryRatioMaxThree},
                #{cgDeliveryRatioCanadaThree}, #{wfRiskMarker},
                #{proposalCgDeliveryRatio},
                CURRENT_TIMESTAMP)
    </insert>

    <update id="updDataSupplementDelivery" parameterType="LinkedHashMap">
        UPDATE data_supplement_delivery
        <set>
            <if test="cgDeliveryRatioSix !=null and cgDeliveryRatioSix !=''">
                cgDeliveryRatioSix = #{cgDeliveryRatioSix},
            </if>
            <if test="cgDeliveryRatioThree !=null and cgDeliveryRatioThree !=''">
                cgDeliveryRatioThree = #{cgDeliveryRatioThree},
            </if>
            <if test="cgDeliveryRatioMaxThree !=null and cgDeliveryRatioMaxThree !=''">
                cgDeliveryRatioMaxThree = #{cgDeliveryRatioMaxThree},
            </if>
            <if test="cgDeliveryRatioCanadaThree !=null and cgDeliveryRatioCanadaThree !=''">
                cgDeliveryRatioCanadaThree = #{cgDeliveryRatioCanadaThree},
            </if>
            <if test="wfRiskMarker !=null and wfRiskMarker !=''">
                wfRiskMarker = #{wfRiskMarker},
            </if>
            <if test="proposalCgDeliveryRatio !=null and proposalCgDeliveryRatio !=''">
                proposalCgDeliveryRatio = #{proposalCgDeliveryRatio},
            </if>
            updateTime = CURRENT_TIMESTAMP
        </set>
        WHERE id = #{id}
    </update>

    <insert id="addRemindStandardization" parameterType="LinkedHashMap">
        INSERT INTO param_remind_standardization (promptContent, startDate, endDate)
        VALUES (#{promptContent}, #{startDate}, #{endDate})
    </insert>

    <update id="updRemindStandardization" parameterType="LinkedHashMap">
        UPDATE param_remind_standardization
        <trim prefix="set" suffixOverrides=",">
            <if test="promptContent !=null and promptContent !=''">
                promptContent = #{promptContent},
            </if>
            <if test="startDate !=null and startDate !=''">
                startDate = #{startDate},

            </if>
            <if test="endDate !=null and endDate !=''">
                endDate = #{endDate},
            </if>
            <if test="status !=null and status !=''">
                status = #{status},
            </if>
        </trim>
        WHERE id = #{id}
    </update>

    <delete id="delRemindStandardization" parameterType="LinkedHashMap">
        DELETE
        FROM param_remind_standardization
        WHERE id = #{id}
    </delete>

    <insert id="addRestockingRules" parameterType="LinkedHashMap">
        INSERT INTO param_restocking_rules (replenishmentName, coefficientCalculation)
        VALUES (#{replenishmentName}, #{coefficientCalculation})
    </insert>

    <update id="updRestockingRules" parameterType="LinkedHashMap">
        UPDATE param_restocking_rules
        <trim prefix="set" suffixOverrides=",">
            <if test="replenishmentName !=null and replenishmentName !=''">
                replenishmentName = #{replenishmentName},
            </if>
            <if test="coefficientCalculation !=null and coefficientCalculation !=''">
                coefficientCalculation = #{coefficientCalculation},
            </if>
        </trim>
        WHERE id = #{id}
    </update>

    <delete id="delRestockingRules" parameterType="LinkedHashMap">
        DELETE
        FROM param_restocking_rules
        WHERE id = #{id}
    </delete>

    <update id="updLinkCoefficient" parameterType="LinkedHashMap">
        UPDATE param_link_coefficient
        <set>
            <if test="warehouse !=null and warehouse !=''">
                warehouse = #{warehouse},
            </if>
            <if test="orderInAdvance !=null and orderInAdvance !=''">
                orderInAdvance = #{orderInAdvance},
            </if>
            <if test="orderFrequency !=null and orderFrequency !=''">
                orderFrequency = #{orderFrequency},
            </if>
            <if test="factoryProductionDuration !=null and factoryProductionDuration !=''">
                factoryProductionDuration = #{factoryProductionDuration},
            </if>
            <if test="portSortingDuration !=null and portSortingDuration !=''">
                portSortingDuration = #{portSortingDuration},
            </if>
            <if test="seaFreightDuration !=null and seaFreightDuration !=''">
                seaFreightDuration = #{seaFreightDuration},
            </if>
            <if test="coefficientWithinTheReservoir !=null and coefficientWithinTheReservoir !=''">
                coefficientWithinTheReservoir = #{coefficientWithinTheReservoir},
            </if>
            <if test="shippingFrequency !=null and shippingFrequency !=''">
                shippingFrequency = #{shippingFrequency},
            </if>
            <if test="advanceShipment !=null and advanceShipment !=''">
                advanceShipment = #{advanceShipment},
            </if>
            updateTime = CURRENT_TIMESTAMP
        </set>
        WHERE id = #{id}
    </update>

    <update id="updWarehouseCoefficient" parameterType="LinkedHashMap">
        UPDATE param_warehouse_coefficient
        <set>
            <if test="salesVolumeA !=null and salesVolumeA !=''">
                salesVolumeA = #{salesVolumeA},
            </if>
            <if test="salesVolumeB !=null and salesVolumeB !=''">
                salesVolumeB = #{salesVolumeB},
            </if>
            <if test="salesVolumeC !=null and salesVolumeC !=''">
                salesVolumeC = #{salesVolumeC},
            </if>
            <if test="salesVolumeD !=null and salesVolumeD !=''">
                salesVolumeD = #{salesVolumeD},
            </if>
            updateTime = CURRENT_TIMESTAMP
        </set>
        WHERE id = #{id}
    </update>

    <update id="updSalesLevel" parameterType="LinkedHashMap">
        UPDATE param_sales_level
        <set>
            <if test="salesRangeMin !=null and salesRangeMin !=''">
                salesRangeMin = #{salesRangeMin},
            </if>
            <if test="salesRangeMax !=null and salesRangeMax !=''">
                salesRangeMax = #{salesRangeMax},
            </if>
            <if test="salesLevel !=null and salesLevel !=''">
                salesLevel = #{salesLevel},
            </if>
            updateTime = CURRENT_TIMESTAMP
        </set>
        WHERE id = #{id}
    </update>

    <insert id="addShippingGrade" parameterType="LinkedHashMap">
        INSERT INTO param_shipping_grade (ratingResults, shippingGrade, updateTime)
        VALUES (#{ratingResults}, #{shippingGrade}, CURRENT_TIMESTAMP)
    </insert>

    <update id="updShippingGrade" parameterType="LinkedHashMap">
        UPDATE param_shipping_grade
        <set>
            <if test="ratingResults !=null and ratingResults !=''">
                ratingResults = #{ratingResults},
            </if>
            <if test="shippingGrade !=null and shippingGrade !=''">
                shippingGrade = #{shippingGrade},
            </if>
            updateTime = CURRENT_TIMESTAMP
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delShippingGrade" parameterType="LinkedHashMap">
        DELETE
        FROM param_shipping_grade
        WHERE id = #{id}
    </delete>

    <update id="updOrderSafetyFactor" parameterType="LinkedHashMap">
        UPDATE param_order_safety_factor
        <set>
            internalHighRisk = #{internalHighRisk},
            emailHighRisk = #{emailHighRisk},
            soldOut = #{soldOut},
            riskNotResolved = #{riskNotResolved},
            updateTime = CURRENT_TIMESTAMP
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delTemplateManagement" parameterType="Template">
        DELETE
        FROM template_management
        WHERE templateId = #{templateId};

        DELETE
        FROM template_details
        WHERE templateId = #{templateId};
    </delete>

</mapper>